* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to left, rgba(20, 150, 60), rgba(30, 120, 80));
}

.product {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding-top: 60px;
}

.product-image {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info {
    width: 50vw;
}

.product-image img {
    width: 30vw;
    border: 1px solid rgba(10, 20, 15, 0.2);
    box-shadow: 0 0 2px 1px rgba(10, 20, 15, 0.2);
}

.product-info p {
    cursor: pointer;
    padding-top: 20px;
}

.details {
    padding-left: 30px;
    padding-top: 35px;
    list-style: square;
}

.variants {
    padding-top: 20px;
}

.cart-button {
    margin-top: 40px;
    padding: 10px 30px;
    font-size: 1.4rem;
    background-color: darkslateblue;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-button:hover {
    color: darkblue;
    background-color: lightslategray;
}

.cart {
    position: fixed;
    right: 80px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 50px;
    border: 1px solid rgba(10, 20, 15, 0.2);
    box-shadow: 0 0 2px 1px rgba(10, 20, 15, 0.2);
    font-size: 1.2rem;
}

.cart p {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

#color-box {
    width: 50px;
    height: 30px;
    margin-top: 15px;
}

.disableButton {
    background-color: aliceblue;
    cursor: not-allowed;
}

.outOfStock {
    text-decoration: line-through;
    color: red;
}

.form .input-review {
    display: block;
    margin: 0 auto;
    width: 80vw;
    height: 8vh;
    padding-left: 10px;
    font-size: 1.5rem;
    border: 1px solid rgba(10, 20, 15, 0.2);
    outline: none;
}

.form {
    display: block;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: 0px auto;
}

.form p {
    padding-top: 10px;
}

.form textarea {
    padding-top: 10px;
}

.form .select {
    width: 80vw;
    height: 8vh;
    outline: none;
    border: none;
}

.form .submit {
    background-color: lightslategrey;
    width: 80vw;
    height: 8vh;
    border: none;
    outline: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.form .submit:hover {
    background-color: lightgreen;
}

.form p:last-child {
    padding-bottom: 20px;
}

.form input {
    margin-top: 10px;
}

.reviewsList {
    display: block;
    width: 100vw;
    padding: 50px 90px;
}

.reviewUl {
    list-style: none;
}

.tabDiv {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.activeTab {
    color: green;
    text-decoration: underline;
}

.tab {
    cursor: pointer;
    padding-top: 40px;
    padding-left: 40px;
}